APP_ENV=development
APP_NAME=Workflow Builder

API_HOST=0.0.0.0
API_PORT=8001

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=workflow_builder
DATABASE_USER=workflow_builder
DATABASE_PASSWORD=workflow_builder

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

NEXT_PUBLIC_API_URL=http://localhost:8001
